<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fornecedores - SGE</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div id="area-logo">
            <a href="index.html">
                <img src="../static/assets/images/InventorySystem.png 1.svg" alt="Logo do sistema">
            </a>
        </div>
        <nav>
            <a href="index.html">Home</a>
            <a href="produtos.html">Produtos</a>
            <a href="fornecedores.html">Fornecedores</a>
            <a href="relatorio.html">Relatório de movimentações</a>
        </nav>
    </header>
    <main>
        <h1>Fornecedores</h1>
        <section class="card-filtros">
            <p class="sub-text">*Use os filtros para buscar por fornecedores específicos</p>
            <div class="filtros-campos">
                <label>ID:</label>
                <input type="text">
                <label>Nome:</label>
                <input type="text">
                <label>Telefone:</label>
                <input type="text">
                <label>CNPJ:</label>
                <input type="text">
            </div>
        </section>
        <section class="tabela-listagem">
            <table>
                <thead>
                    <tr>
                        <th>ID:</th>
                        <th>Nome do fornecedor:</th>
                        <th>E-mail:</th>
                        <th>Telefone:</th>
                        <th>CNPJ:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr onclick="selecionarLinha(this)">
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                    <tr onclick="selecionarLinha(this)">
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                    <tr onclick="selecionarLinha(this)">
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                    <tr onclick="selecionarLinha(this)">
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="botoes botoes-centralizados">
            <a href="#" class="btn-padrao">Excluir Fornecedor</a>
            <a href="#" class="btn-padrao">Editar Fornecedor</a>
            <a href="#" class="btn-padrao">Cadastrar novo fornecedor</a>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 - Sistema de Gerenciamento de Estoques. Todos os direitos reservados</p>
        <p>Contato: viniciuscharles3101@gmail.com</p>
    </footer>
</body>
</html>