<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - SGE</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div id="area-logo">
            <a href="index.html">
                <img src="../static/assets/images/InventorySystem.png 1.svg" alt="Logo do sistema">
            </a>
        </div>
        <nav>
            <a href="produtos.html">Produtos</a>
            <a href="fornecedores.html">Fornecedores</a>
            <a href="relatorio.html">Relatório de movimentações</a>
        </nav>
    </header>
    <footer>
        <p>&copy; 2025 - Sistema de Gerenciamento de Estoques. Todos os direitos reservados</p>
        <p>Contato: viniciuscharles3101@gmail.com</p>
    </footer>
</body>
</html>