<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos - SGE</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div id="area-logo">
            <a href="index.html">
                <img src="../static/assets/images/InventorySystem.png 1.svg" alt="Logo do sistema">
            </a>
        </div>
        <nav>
            <a href="produtos.html">Produtos</a>
            <a href="fornecedores.html">Fornecedores</a>
            <a href="relatorio.html">Relatório de movimentações</a>
        </nav>
    </header>
    <main>
        <h1>Produtos</h1>
        <p class="sub-text">*Use os filtros para buscar produtos específicos</p>

        <section class="filtros">
            <label>ID:</label>
            <input type="text">
            <label>Nome:</label>
            <input type="text">
            <label>Categoria:</label>
            <input type="text">
            <label>Fornecedor:</label>
            <input type="text">
        </section>

        <section class="tabela-produtos">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome do produto</th>
                        <th>Categoria</th>
                        <th>Data do registro</th>
                        <th>Fornecedor</th>
                        <th>Quantidade total</th>
                        <th>Valor atual</th>
                    </tr>
                </thead>
                <tbody>
                    <tr onclick="selecionarLinha(this)">
                        <td>1</td>
                        <td>Produto A</td>
                        <td>Categoria 1</td>
                        <td>DD/MM/YYYY</td>
                        <td>Fornecedor Z</td>
                        <td>25</td>
                        <td>R$ 150,00</td>
                    </tr>
                    <tr onclick="selecionarLinha(this)">
                        <td>2</td>
                        <td>Produto B</td>
                        <td>Categoria 2</td>
                        <td>DD/MM/YYYY</td>
                        <td>Fornecedor X</td>
                        <td>12</td>
                        <td>R$ 15,00</td>
                    </tr>
                    <tr onclick="selecionarLinha(this)">
                        <td>3</td>
                        <td>Produto C</td>
                        <td>Categoria 3</td>
                        <td>DD/MM/YYYY</td>
                        <td>Fornecedor Y</td>
                        <td>74</td>
                        <td>R$ 147,90</td>
                    </tr>
                    <tr onclick="selecionarLinha(this)">
                        <td>4</td>
                        <td>Produto D</td>
                        <td>Categoria 2</td>
                        <td>DD/MM/YYYY</td>
                        <td>Fornecedor Y</td>
                        <td>37</td>
                        <td>R$ 220,00</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <div class="botoes">
            <button>Realizar movimentação</button>
            <button>Editar produto</button>
            <button>Cadastrar novo produto</button>
        </div>

    </main>
    <footer>
        <p>&copy; 2025 - Sistema de Gerenciamento de Estoques. Todos os direitos reservados</p>
        <p>Contato: viniciuscharles3101@gmail.com</p>
    </footer>
</body>
</html>