<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de movimentações - SGE</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div id="area-logo">
            <a href="index.html">
                <img src="../static/assets/images/InventorySystem.png 1.svg" alt="Logo do sistema">
            </a>
        </div>
        <nav>
            <a href="index.html">Home</a>
            <a href="produtos.html">Produtos</a>
            <a href="fornecedores.html">Fornecedores</a>
            <a href="relatorio.html">Relatório de movimentações</a>
        </nav>
    </header>
    <main>
        <h1>Movimentações</h1>
        <section class="card-filtros">
            <p class="sub-text">*Use os filtros para buscar movimentações específicos</p>
            <div class="container-filtros">
                <div class="filtros-check">
                    <label><input type="checkbox" name="tipo" value="Entrada"> Entrada</label>
                    <label><input type="checkbox" name="tipo" value="Saída"> Saída</label>
                    <label><input type="checkbox" name="tipo" value="Reposição"> Reposição</label>
                </div>
                <div class="filtros-campos">
                    <label for="id">ID:</label>
                    <input type="text" id="id">
                    <label for="produto">Produto:</label>
                    <input type="text" id="produto">
                    <label for="fornecedor">Fornecedor:</label>
                    <input type="text" id="fornecedor">
                </div>
            </div>
            
        </section>
        <section>
            <table class="tabela">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo de movimentação</th>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Fornecedor</th>
                        <th>Data da movimentação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                    <tr>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                    <tr>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                    <tr>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 - Sistema de Gerenciamento de Estoques. Todos os direitos reservados</p>
        <p>Contato: viniciuscharles3101@gmail.com</p>
    </footer>
</body>
</html>